.modal-content{
   max-width: 600px;
   max-height: 800px;
   margin: 300px auto ;
}
.fields{
    margin-left: 20px;
}
.image{
    margin-left: 40px;
    box-shadow: 0 0 0;
}
.form-control{
    margin-bottom: 20px;
}
