.navbar {
    font-weight: 600;
    font-size: 14px;
}

.container {
    width: 90%;
}

body {
    background: url('http://cleancanvas.herokuapp.com/img/backgrounds/color-splash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #994888;
}

.navbar-inverse .navbar-brand {
    color: rgb(204, 85, 178);
    font-weight: bolder;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.users{
    background-color: white;
    max-width: 800px;
    border-radius: 6px;
    margin-top: 100px;
}

#patrons{
    margin-left: 15px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: mediumvioletred;
}

#linker{
    font-weight: 500;
}


.header{
    padding-top: 16px;
    text-align: center;
    font-size: 32px;
    font-weight: bolder;

}
.utable{
    padding: 15px;
}

.submit{

}