<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/editU.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

    <title>Add Book</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gogol Library</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Add Book</a></li>
                <li><a href="/add/journal">Add Journal</a></li>
                <li><a href="/add/AV">Add AV</a></li>
                <li><a href="/">Log Out</a></li>
            </ul>
        </div>
    </div>
</div>
<section>
    <div class="container users">
        <div class="row main">

            <div class="main-login main-center">
                <form class="form-horizontal" method="post" action="javascript:void(null)" onsubmit="addBCall()">


                    <div class="form-group">
                        <label for="booktitle" class="cols-sm-2 control-label">Book title</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="booktitle" id="booktitle"
                                       placeholder="Enter book title"
                                       required autofocus/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="author" class="cols-sm-2 control-label">Author</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="author" id="author"
                                       placeholder="Enter author" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="edition" class="cols-sm-2 control-label">Edition</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-location-arrow"
                                                               aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="edition" id="edition"
                                       placeholder="Enter edition" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="publisher" class="cols-sm-2 control-label">Publisher</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="publisher" id="publisher"
                                       placeholder="Enter publisher" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="year" class="cols-sm-2 control-label">Year</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="year" id="year"
                                       placeholder="Enter year" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="price" class="cols-sm-2 control-label">Price</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="price" id="price"
                                       placeholder="Enter price" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="price" class="cols-sm-2 control-label">Count</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="count" id="count"
                                       placeholder="Enter count" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="price" class="cols-sm-2 control-label">Shelf</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="shelf" id="shelf"
                                       placeholder="Enter shelf" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        <label for="sel">Select type</label>
                        <select class="form-control" id="sel">
                            <option class="opt">NA</option>
                            <option class="opt">Reference</option>
                            <option class="opt">Bestseller</option>
                        </select>

                    </div>


                    <div class="form-group">

                        <div class="cols-sm-10">
                            <div class="input-group">
                                <input type="file" onchange="previewFile()"><br>
                                <img src="" height="200" alt="Image preview..." id="img">
                            </div>
                        </div>
                    </div>

                    <script>
                        function previewFile() {
                            var preview = document.querySelector('img');
                            var file = document.querySelector('input[type=file]').files[0];
                            var reader = new FileReader();

                            reader.onloadend = function () {
                                preview.src = reader.result;
                            };

                            if (file) {
                                reader.readAsDataURL(file);
                            } else {
                                preview.src = "";
                            }
                        }

                        function getBase64Image(imgElem) {
                            var canvas = document.createElement("canvas");
                            canvas.width = imgElem.clientWidth;
                            canvas.height = imgElem.clientHeight;
                            var ctx = canvas.getContext("2d");
                            ctx.drawImage(imgElem, 0, 0);
                            var dataURL = canvas.toDataURL("image/png");
                            return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
                        }

                        previewFile();
                    </script>

                    <script type="text/javascript" language="javascript">

                        function addBCall() {
                            var imgElem = document.getElementById('img');
                            var selector = document.getElementById("sel");
                            <!-- var imgData = JSON.stringify(getBase64Image(imgElem)); -->
                            var book = {
                                "title": document.getElementById("booktitle").value,
                                "author": document.getElementById("author").value,
                                "edition": document.getElementById("edition").value,
                                "publisher": document.getElementById("publisher").value,
                                "year": document.getElementById("year").value,
                                "price": document.getElementById("price").value,
                                "note": selector.options[selector.selectedIndex].text.toUpperCase(),
                                "count": document.getElementById("count").value,
                                "imgData": JSON.stringify(getBase64Image(imgElem))
                            };
                            var shelf = document.getElementById("shelf").value;
                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "2000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };

                            $.ajax({
                                url: "/add/book?shelf="+shelf,
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(book),
                                dataType: 'json',
                                success: function (data) {
                                    alert(data);
                                    if(data["message"] === "succ"){
                                        toastr["success"]("Book has successfully added");
                                    }else {
                                        toastr["warning"](data["message"]);
                                    }
                                }
                            });



                        }
                    </script>


                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">
                            Confirm
                        </button>
                        <span class="clearfix"></span>
                    </div>
                    <div class="login-register">
                        <a href="documents.html">cancel</a>
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>
</body>
</html>