<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Books</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/patrons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function make_json(form) {
            var json = {
                "name": form.name.value,
                "surname": form.surname.value,
                "address": form.address.value,
                "phone": form.phone.value,
                "login": form.username.value,
                "password": form.password.value
            };
            alert(json);
            var html = JSON.stringify(json, 0, 4);
            document.getElementById('output').innerHTML = html;
            return false;
        }
    </script>
    <script>
        (function ($) {
            $(document).ready(function () {
                $('.row-remove').click(function (e) {
                    e.preventDefault();
                    $(this).closest('tr').remove(); // или $(this).parent().parent().remove();
                });
            });
        }(jQuery));
    </script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gogol Library</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Books</a></li>
                <li><a href="journals.html">Journals</a></li>
                <li><a href="av.html">Auidio/Video</a></li>
                <li><a href="LogIn.html">Log Out</a></li>
            </ul>
        </div>
    </div>

</div>
<section>

    <div class="container users">
        <div class="output"></div>
        <div class="row centered">
            <div class="card card-container">
                <p id="patrons"><a id="linker" href="taken_documents.html">Documents</a> / <u>Books</u></p>
                <p class="header">Books</p>
                <div class="utable">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <td>ID</td>
                            <th>Book Title</th>
                            <th>Author</th>
                            <th>Edition</th>
                            <th>Publisher</th>
                            <th>Year</th>
                            <th>Price(for overdue)</th>
                            <th>Bestseller</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#booksInLibrary}}
                        <form action="editB.html">
                            <tr>
                                <td>{{id}}</td>
                                <td>{{book_title}}</td>
                                <td>{{author}}</td>
                                <td>{{edition}}</td>
                                <td>{{publisher}}</td>
                                <td>{{year}}</td>
                                <td>{{price}}</td>
                                <td>{{bestseller}}</td>
                                <td>
                                    <button type="submit" class="btn btn-primary btn-sm btn-block submit">
                                        Edit
                                    </button>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary btn-sm btn-block row-remove">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </form>
                        {{/booksInLibrary}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>