<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Books</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <link rel="stylesheet" href="/css/patrons.css">
    <link rel="stylesheet" href="/css/dialog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--//this needs to make checkboxes cooler[1]-->
    <link rel="stylesheet" href="../css/line/blue.css">
    <script src="../js/icheck.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/dashboard">Gogol Library</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Books</a></li>
                <li><a href="/journals">Journals</a></li>
                <li><a href="/av">Auidio/Video</a></li>
                <li><a href="/login">Log Out</a></li>
            </ul>
        </div>
    </div>

</div>
<section>

    <div class="container users">
        <div class="output"></div>

        <p id="patrons"><a id="linker" href="/librarian/taken_doc">Documents</a> / <u>Books</u></p>
        <div>
            <input placeholder="title" id="stitle">
            <input placeholder="author" id="sauthor">
            <input placeholder="edition" id="sedition">
            <input placeholder="publisher" id="spublisher">
            <input placeholder="year" id="syear">
        </div>
        <div class = "buttons">
            <input type="checkbox" class="chk" name="detective" value="detective">
            <label>Detective</label>
            <input type="checkbox" class="chk" name="romance" value="romance">
            <label>Romance</label>
        </div>
        <a href="#" class="btn btn-primary" onclick="sCall()">Search</a>
        <p class="header">Books</p>
        <div class="container-fluid">
            <div class="card-group">
                {{#allBooks}}
                <div class="col-sm-4 deck">
                    <div class="card text-center">
                        <div class="card-body">
                            <!--put here other fields, make them hidden-->
                            <h3 class="card-title">{{title}}</h3>
                            <h5 class="card-subtitle text-muted">{{author}}</h5>
                            <input type="hidden" class="edition_card" value="{{edition}}">
                            <input type="hidden" class="publisher_card" value="{{publisher}}">
                            <input type="hidden" class="id_card" value="{{id}}">
                            <input type="hidden" class="price_card" value="{{price}}">
                            <input type="hidden" class="count_card" value="{{count}}">
                            <img class="image-book" src="../img/no_image.jpg">
                            <!--place in scr data:image/png;base64, picture (base64 from db)-->
                            <p></p>
                            <a href="#details" class="btn btn-primary btn-lg" data-toggle="modal">Show details</a>
                        </div>
                    </div>
                </div>


                {{/allBooks}}

                <script>
                    //this needs to make checkboxes cooler[2]
                    $(document).ready(function () {
                        $('.chk').each(function () {
                            var self = $(this),
                                    label = self.next(),
                                    label_text = label.text();
                            label.remove();
                            self.iCheck({
                                checkboxClass: 'icheckbox_line-blue',
                                radioClass: 'iradio_line-blue',
                                insert: '<div class="icheck_line-icon"></div>' + label_text
                            });
                        });
                    });
                </script>

                <script>
//TODO: selector value
                    //                    var image = $('#image-book');
                    //                    image.src = 'data:image/png;base64,iVBORw0K...';
                    //                    document.body.appendChild(image);

                    (function ($) {
                        $(document).ready(function () {
                            //scrtipt to open book info
                            $('.btn-lg').click(function (e) {
                                e.preventDefault();
                                //I make description fields and buttons visible and edit fields and buttons unvisible
                                document.getElementById("title").style.display = "block";
                                document.getElementById("edition").style.display = "block";
                                document.getElementById("publisher").style.display = "block";
                                document.getElementById("author").style.display = "block";
                                $('#id').val($(this).parent().find($('.id_card')).attr('value'));
                                $('#price').val($(this).parent().find($('.price_card')).attr('value'));
                                $('#count').val($(this).parent().find($('.count_card')).attr('value'));
                                $('.title').html('<b>Title: </b>' + $(this).parent().find($('.card-title')).text());
                                $('.edition').html('<b>Edition: </b>' + $(this).parent().find($('.edition_card')).attr('value'));
                                $('.author').html('<b>Author: </b>' + $(this).parent().find($('.card-subtitle')).text());
                                $('.publisher').html('<b>Published by: </b>' + $(this).parent().find($('.publisher_card')).attr('value'));
                                $("#img").attr("src", $(this).parent().find($('.image-book')).attr('src'));
                                $('#expansion').html($(this).parent().find($('.card.title')).text());
                                document.getElementById("etitle").style.display = "none";
                                document.getElementById("eedition").style.display = "none";
                                document.getElementById("epublisher").style.display = "none";
                                document.getElementById("eauthor").style.display = "none";
                                document.getElementById("okbtn").style.display = "none";
                                document.getElementById("editbtn").style.display = "inline";
                                document.getElementById("imgbtn").style.display = "none";
                                document.getElementById("elogin").style.display = "none";
                                document.getElementById("renewbtn").style.display = "none";
                                document.getElementById("etags").style.display = "none";
                                document.getElementById("sel").style.display = "none"
                            });
                        });
                        return false;
                    }(jQuery));
//ajax with search values
function sCall() {
    //string wih tags
    var str = "";
    var boxes = $("input:checkbox");
    for (var i = 0; i < boxes.length; i++) {
        var box = boxes[i];
        if ($(box).prop('checked')) {
            str += $(box).attr('value')+ ",";
        }
    }
    var myJson = {
        "title": document.getElementById("stitle").value,
        "edition": document.getElementById("sedition").value,
        "author": document.getElementById("sauthor").value,
        "publisher": document.getElementById("spublisher").value,
        "year": Math.min(parseInt(document.getElementById("syear").value), 0),
        "tags": str
    };
    $.ajax({
        url: "idk",
        type: 'POST',
        data: JSON.stringify(myJson)
    });
}

                    function edit() {
                        //make edit fields visible, push values from desc. fields to edit fields
                        var title = document.getElementById("etitle");
                        var edition = document.getElementById("eedition");
                        var author = document.getElementById("eauthor");
                        var publisher = document.getElementById("epublisher");
                        title.value = $('.title').text();
                        edition.value = $('.edition').text();
                        author.value = $('.author').text();
                        publisher.value = $('.publisher').text();
                        document.getElementById("title").style.display = "none";
                        title.style.display = "block";
                        document.getElementById("edition").style.display = "none";
                        edition.style.display = "block";
                        document.getElementById("author").style.display = "none";
                        author.style.display = "block";
                        document.getElementById("publisher").style.display = "none";
                        publisher.style.display = "block";
                        document.getElementById("editbtn").style.display = "none";
                        document.getElementById("okbtn").style.display = "inline";
                        document.getElementById("imgbtn").style.display = "inline";
                        document.getElementById("etags").style.display = "inline";
                        document.getElementById("sel").style.display = "inline"

                    }

                    function renew() {
                        //make login field and instant request button visible
                        document.getElementById("elogin").style.display = "inline";
                        document.getElementById("renewbtn").style.display = "block";
                    }

                    function renewConf() {
                        //instant request ajax
                        document.getElementById("elogin").style.display = "none";
                        var myJson = {
                            "id": document.getElementById("id").value,
                            "login": document.getElementById("elogin").value
                        };
                        $.ajax({
                            url: "idk",
                            type: 'POST',
                            data: JSON.stringify(myJson)
                        });
                        window.location.reload(false);
                    }

                    function bCall() {
                        //edit ajax
                        var imgElem = document.getElementById('img');
                        var myJson = {
                            "id": document.getElementById("id").value,
                            "price": document.getElementById("price").value,
                            "count": document.getElementById("count").value,
                            "title": document.getElementById("etitle").value,
                            "edition": document.getElementById("eedition").value,
                            "author": document.getElementById("eauthor").value,
                            "publisher": document.getElementById("epublisher").value,
                            "tags": document.getElementById("etags").value,
                            "note": selector.options[selector.selectedIndex].text.toUpperCase(),
                            "picture":JSON.stringify(getBase64Image(imgElem))
                        };
                        $.ajax({
                            url: "/edit/book",
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(myJson),
                            dataType: 'json'
                        });
                        window.location.reload(false);
                    }

                    function dCall() {
                        //delete ajax
                        var myJson = {"id": document.getElementById("id").value};
                        $.ajax({
                            url: "/delete/book",
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(myJson),
                            dataType: 'json'
                        });

                        setTimeout(location.reload(false),1500);
                    }

                    function previewFile() {
                        var preview = document.getElementById('img');
                        var file = document.querySelector('input[type=file]').files[0];
                        var reader = new FileReader();

                        reader.onloadend = function () {
                            preview.src = reader.result;
                        };

                        if (file) {
                            reader.readAsDataURL(file);
                        } else {
                            preview.src = "";
                        }
                    }

                    function getBase64Image(imgElem) {
                        var canvas = document.createElement("canvas");
                        canvas.width = imgElem.clientWidth;
                        canvas.height = imgElem.clientHeight;
                        var ctx = canvas.getContext("2d");
                        ctx.drawImage(imgElem, 0, 0);
                        var dataURL = canvas.toDataURL("image/png");
                        return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
                    }

                    previewFile();
                </script>

                <!--Modal, need to be field using js-->
                <div class="modal" id="details" tabindex="-1" role="dialog" aria-labelledby="expansion"
                     aria-hidden="true">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="expansion"></h3>
                        </div>
                        <div class="modal-body body">
                            <div class="row">
                                <div class="col-lg-4 fields">
                                    <img src="../img/no_image.jpg" id="img"><br>
                                    <input type="file" onchange="previewFile()" id="imgbtn">
                                </div>
                                <div class="col-lg-6 fields" id="container">
                                    <input type="hidden" id="id">
                                    <input type="hidden" id="price">
                                    <input type="hidden" id="count">
                                    <h4 class="title" id="title"><b>Title: </b></h4>
                                    <input id="etitle">
                                    <h4 class="edition" id="edition"><b>Edition: </b></h4>
                                    <input id="eedition">
                                    <h4 class="author" id="author"><b>Author: </b></h4>
                                    <input id="eauthor">
                                    <h4 class="publisher" id="publisher"><b>Published by: </b></h4>
                                    <input id="epublisher">
                                    <input id="etags" placeholder="tags">
                                    <select class= id="sel">
                                        <option class="opt">NA</option>
                                        <option class="opt">Reference</option>
                                        <option class="opt">Bestseller</option>
                                    </select>
                                    <input id="elogin">
                                    <a id="renewbtn" onclick="renewConf()" class="btn btn-primary">OK</a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a onclick="renew()" class="btn btn-primary">Renew</a>
                            <a id="okbtn" class="btn btn-primary" onclick="bCall()">OK</a>
                            <a id="editbtn" onclick="edit()" class="btn btn-primary">Edit</a>
                            <button class="btn btn-primary" onclick="dCall()">Delete</button>
                            <button class="btn" data-dsismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</body>
</html>