<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Dashboard </title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gogol Library</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a href="FMyDocuments.html">My Documents</a></li>
                <li><a href="Forder.html">Order a Document</a></li>
                <li><a href="/login">Log Out</a></li>
            </ul>
        </div>
    </div>
</div>
<section>
    <div class="container ud">
        <div class="row centered">
            <div class="card card-container">
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png">
                <p id="profile-name" class="profile-name-card"></p>

                <!--need to fill JS-->
                <p id="status">Faculty</p>

                <div class="info">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <h3 class="fields">Name:</h3>
                            </td>
                            <td>
                                <!--need to add name from DB-->
                                <h3>{{user.name}}</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 class="fields">Surname:</h3>
                            </td>
                            <td>
                                <!--need to add name from DB-->
                                <h3>{{user.surname}}</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 class="fields">Address:</h3>
                            </td>
                            <td>
                                <!--need to add name from DB-->
                                <h3>{{user.address}}</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 class="fields">Phone Number:</h3>
                            </td>
                            <td>
                                <!--need to add name from DB-->
                                <h3>+7(906)321-15-58</h3>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>