<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Journals</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../css/patrons.css">
    <link rel="stylesheet" href="../css/dialog.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/line/blue.css">
    <script src="../js/icheck.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gogol Library</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/books">Books</a></li>
                <li class="active"><a href="#">Journals</a></li>
                <li><a href="/av">Auidio/Video</a></li>
                <li><a href="/login">Log Out</a></li>
            </ul>
        </div>
    </div>

</div>
<section>

    <div class="container users">
        <div class="output"></div>
                <p id="patrons"><a id="linker" href="/librarian/taken_doc">Documents</a> / <u>Journals</u></p>
        <div>
            <input placeholder="title" id="stitle">
        </div>
        <a href="#" class="btn btn-primary" onclick="aCall()">Search</a>
        <p class="header">Journals</p>
        <div class="container-fluid">
            <div class="card-group">
                {{#allJournals}}
                <div class="col-sm-4 deck">
                    <div class="card text-center">
                        <div class="card-body">
                            <!--put here other fields, make them hidden-->
                            <h3 class="card-title">{{title}}</h3>
                            <h5 class="card-subtitle text-muted">{{name}}</h5>
                            <input type="hidden" class="author_card" value="{{author}}">
                            <input type="hidden" class="issue_card" value="{{issue}}">
                            <input type="hidden" class="editor_card" value="{{editor}}">
                            <input type="hidden" class="id_card" value="{{id}}">
                            <input type="hidden" class="price_card" id="price_card" value="{{price}}">
                            <input type="hidden" class="count_card" value="{{count}}">
                            <input type="hidden" class="note_card" value="{{note}}">
                            <img class="image-journal" src="data:image/png;base64, {{picture}}">
                            <p></p>
                            <a href="#details" class="btn btn-primary btn-lg" data-toggle="modal">Show details</a>
                        </div>
                    </div>
                </div>
                {{/allJournals}}

                <script>
                    $(document).ready(function () {
                        $('.chk').each(function () {
                            var self = $(this),
                                    label = self.next(),
                                    label_text = label.text();
                            label.remove();
                            self.iCheck({
                                checkboxClass: 'icheckbox_line-blue',
                                radioClass: 'iradio_line-blue',
                                insert: '<div class="icheck_line-icon"></div>' + label_text
                            });
                        });
                    });
                </script>

                <script>

                    //                    var image = $('#image-book');
                    //                    image.src = 'data:image/png;base64,iVBORw0K...';
                    //                    document.body.appendChild(image);

                    (function ($) {
                        $(document).ready(function () {
                            $('.btn-lg').click(function (e) {
                                e.preventDefault();
                                document.getElementById("title").style.display = "block";
                                document.getElementById("editor").style.display = "block";
                                document.getElementById("journal").style.display = "block";
                                document.getElementById("author").style.display = "block";
                                document.getElementById("issue").style.display = "block";
                                $('#id').val($(this).parent().find($('.id_card')).attr('value'));
                                $('#price').val($(this).parent().find($('.price_card')).attr('value'));
                                $('#count').val($(this).parent().find($('.count_card')).attr('value'));
                                $('.journal').html('<b>Journal: </b>' + $(this).parent().find($('.card-subtitle')).text());
                                $('.issue').html('<b>Issue: </b>' + $(this).parent().find($('.issue_card')).attr('value'));
                                $('.title').html('<b>Title: </b>' + $(this).parent().find($('.card-title')).text());
                                $('.editor').html('<b>Editor: </b>' + $(this).parent().find($('.editor_card')).attr('value'));
                                $('.author').html('<b>Author: </b>' + $(this).parent().find($('.author_card')).attr('value'));
                                $('.note').html('<b>Note: </b>' + $(this).parent().find($('.note_card')).attr('value'));
                                $("#img").attr("src", $(this).parent().find($('.image-journal')).attr('src'));
                                $('#expansion').html($(this).parent().find($('.card-title')).text());
                                document.getElementById("etitle").style.display = "none";
                                document.getElementById("eeditor").style.display = "none";
                                document.getElementById("ejournal").style.display = "none";
                                document.getElementById("eauthor").style.display = "none";
                                document.getElementById("eissue").style.display = "none";
                                document.getElementById("okbtn").style.display = "none";
                                document.getElementById("editbtn").style.display = "inline";
                                document.getElementById("imgbtn").style.display = "none";
                                document.getElementById("elogin").style.display = "none";
                                document.getElementById("renewbtn").style.display = "none";
                                document.getElementById("etags").style.display = "none";
                                document.getElementById("sel").style.display = "none";
                                document.getElementById("note").style.display = "block";
                                $('tbody').empty();
                                var myJson = {"id": document.getElementById("id").value};
                                $.ajax({
                                    url: "/copies/journal",
                                    type: 'POST',
                                    contentType: 'application/json',
                                    data: JSON.stringify(myJson),
                                    dataType: 'json',
                                    success: function (data) {
                                        var shelf_table = data["pairList"];
                                        shelf_table.forEach(function (value) {
                                            var html = $('<tr><td class="shelf-name">' + value.key + '</td><td class="shelf-value">' + value.value + '</td><td><button class="btn btn-primary shlfbtn" value="1">+</button></td><td><button class="btn btn-primary shlfbtn" value="-1">-</button></td></tr>');
                                            $('tbody').append(html);
                                        });
                                    }

                                });
                            });
                            $('tbody').on('click', '.shlfbtn', function (e) {
                                e.preventDefault();
                                var count = $(this).attr("value");
                                var price=document.getElementById("price_card").value;
                                var myJson = {
                                    "id": $('#id').attr("value"),
                                    "count": count,
                                    "price":price
                                };
                                //alert(JSON.stringify(myJson));
                                var shelf = $(this).closest('tr').find($('.shelf-name')).text();
                                var num = $(this).closest('tr').find($('.shelf-value'));
                                $.ajax({
                                    url: "/update/phys/journal?shelf="+shelf,
                                    type: 'POST',
                                    contentType: 'application/json',
                                    data: JSON.stringify(myJson),
                                    dataType: 'json',
                                    success: function (data) {
                                        if (data["data"] === "succ") {
                                            var val = parseInt(num.text(), 10);
                                            var btnval = parseInt(count, 10);
                                            num.text(val+btnval);
                                        }
                                        if (num.text() === "0") {
                                            num.closest('tr').remove()
                                        }
                                        //  toastr["success"]("Success");
                                    }

                                });
                            });
                        });
                        return false;
                    }(jQuery));

                    function aCall() {
                        var stri = document.getElementById("stitle").value;
                        stri = stri.toLowerCase();
                        var and_arr = stri.split('&');
                        var aarr = [];
                        for (var n = 0; n < and_arr.length; n++) {
                            or_arr = and_arr[n].split('|');
                            var arr = [];
                            for (var m = 0; m < or_arr.length; m++) {
                                var str = or_arr[m];
                                var deck = $(".deck");
                                var rr = [];
                                for (var i = 0; i < deck.length; i++) {
                                    deck[i].style.display = "inline";
                                    rr.push("inline");
                                }
                                var str_arr = str.split(" ");
                                for (var j = 0; j < str_arr.length; j++) {
                                    for (var i = 0; i < deck.length; i++) {
                                        //alert(deck[i]);
                                        var dooc = deck[i].innerHTML;
                                        dooc = dooc.toLowerCase();
                                        var doc = dooc.match(/>(.*?)<|value="(.*?)"/g);
                                        var flag = -1;

                                        for (var h = 0; h < doc.length; h++) {
                                            if (doc[h].search(str_arr[j]) !== -1)
                                                flag = 0;
                                        }

                                        if (flag === -1)
                                        // doc.remove();
                                            rr[i] = "none"; //else rr[i]= "inline";
                                        //deck[i].style.display = "none"

                                        /*var searchs = '/>'+str_arr[j]+'<|value="'+str_arr[j]+'"/g';
                                         if ((doc.search(eval(searchs)) === -1))
                                         // doc.remove();
                                         rr[i] = "none";
                                         //deck[i].style.display = "none"*/
                                    }
                                }
                                arr.push(rr);
                            }
                            for (var j = 0; j < arr.length - 1; j++) {
                                el = arr[j];
                                el2 = arr[j + 1];
                                for (var i = 0; i < el.length; i++) {
                                    if (el[i] === "inline") {
                                        el2[i] = "inline"
                                    }
                                }
                            }
                            aarr.push(arr[arr.length - 1]);
                        }
                        for (var j = 0; j < aarr.length - 1; j++) {
                            el = aarr[j];
                            el2 = aarr[j + 1];
                            for (var i = 0; i < el.length; i++) {
                                if (el[i] === "none") {
                                    el2[i] = "none"
                                }
                            }
                        }
                        var d = aarr[aarr.length - 1];
                        for (var i = 0; i < d.length; i++) {
                            deck[i].style.display = d[i];
                        }
                    }

                    function sCall() {

                        var str = document.getElementById("stitle").value;
                        str = str.toLowerCase();
                        var deck = $(".deck");
                        for (var i = 0; i < deck.length; i++) {
                            deck[i].style.display = "inline";
                        }
                        var str_arr = str.split(" ");
                        for (var j = 0; j < str_arr.length; j++) {
                            for (var i = 0; i < deck.length; i++) {
                                //alert(deck[i]);
                                var doc = deck[i].innerHTML;
                                doc = doc.toLowerCase();
                                if (doc.search(str_arr[j]) === -1)
                                // doc.remove();
                                    deck[i].style.display = "none"


                            }
                        }
                    }


                    function edit() {
                        var title = document.getElementById("etitle");
                        var editor = document.getElementById("eeditor");
                        var author = document.getElementById("eauthor");
                        var journal = document.getElementById("ejournal");
                        var issue = document.getElementById("eissue");
                        title.value = $('.title').text().split(': ')[1];
                        editor.value = $('.editor').text().split(': ')[1];
                        author.value = $('.author').text().split(': ')[1];
                        journal.value = $('.journal').text().split(': ')[1];
                        issue.value = $('.issue').text().split(': ')[1];
                        document.getElementById("title").style.display = "none";
                        title.style.display = "block";
                        document.getElementById("editor").style.display = "none";
                        editor.style.display = "block";
                        document.getElementById("author").style.display = "none";
                        author.style.display = "block";
                        document.getElementById("journal").style.display = "none";
                        journal.style.display = "block";
                        document.getElementById("issue").style.display = "none";
                        issue.style.display = "block";
                        document.getElementById("editbtn").style.display = "none";
                        document.getElementById("okbtn").style.display = "inline";
                        document.getElementById("imgbtn").style.display = "inline";
                        document.getElementById("etags").style.display = "inline";
                        document.getElementById("sel").style.display = "inline";
                        document.getElementById("note").style.display = "none";

                        var note = $('.note').text().split(': ')[1];
                        $('#sel').val(note);
                    }

                    function renew() {
                        document.getElementById("elogin").style.display = "inline";
                        document.getElementById("renewbtn").style.display = "block";
                    }

                    function renewConf() {
                        document.getElementById("elogin").style.display = "none";
                        var myJson = {
                            "id": document.getElementById("id").value,
                            "login": document.getElementById("elogin").value
                        };
                        $.ajax({
                            url: "idk",
                            type: 'POST',
                            data: JSON.stringify(myJson)
                        });
                        window.location.reload(false);
                    }

                    function bCall() {
                         var imgElem = document.getElementById('img');
                        var selector = document.getElementById('sel');
                        var myJson = {
                            "id": document.getElementById("id").value,
                            "price": document.getElementById("price").value,
                            "count": document.getElementById("count").value,
                            "title": document.getElementById("etitle").value,
                            "editor": document.getElementById("eeditor").value,
                            "author": document.getElementById("eauthor").value,
                            "name": document.getElementById("ejournal").value,
                            "issue": document.getElementById("eissue").value,
                            "tags": document.getElementById("etags").value,
                            "note": selector.options[selector.selectedIndex].text.toUpperCase(),
                            "picture": getBase64Image(imgElem)
                        };
                        $.ajax({
                            url: "/edit/journal",
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(myJson)
                        });
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": false,
                            "positionClass": "toast-bottom-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "2000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };
                        toastr["success"]("Journal has successfully updated!");
                        setTimeout(reload, 1500);
                    }

                    function reload() {
                        window.location.reload(false);
                    }

                    function dCall() {
                        var myJson = {
                            "id": document.getElementById("id").value
                        };
                        $.ajax({
                            url: "/delete/all/journals",
                            type: 'POST',
                            contentType: "application/json",
                            data: JSON.stringify(myJson)
                        });
                        toastr["success"]("Journal and all of its copies have successfully deleted");
                        setTimeout(reload, 1500);
                    }


                    function previewFile() {
                        var preview = document.getElementById('img');
                        var file = document.querySelector('input[type=file]').files[0];
                        var reader = new FileReader();

                        reader.onloadend = function () {
                            preview.src = reader.result;
                        };

                        if (file) {
                            reader.readAsDataURL(file);
                        } else {
                            preview.src = "../img/no_image.jpg";
                        }
                    }

                    function getBase64Image(imgElem) {
                        var canvas = document.createElement("canvas");

                        var MAX_WIDTH = 400;
                        var MAX_HEIGHT = 200;
                        var width = imgElem.width;
                        var height = imgElem.height;

                        if (width > height) {
                            if (width > MAX_WIDTH) {
                                height *= MAX_WIDTH / width;
                                width = MAX_WIDTH;
                            }
                        } else {
                            if (height > MAX_HEIGHT) {
                                width *= MAX_HEIGHT / height;
                                height = MAX_HEIGHT;
                            }
                        }
                        canvas.width = width;
                        canvas.height = height;
                        var ctx = canvas.getContext("2d");
                        ctx.drawImage(imgElem, 0, 0, width, height);
                        var dataURL = canvas.toDataURL("image/png");
                        return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
                    }

                    previewFile();
                </script>

                <div class="modal" id="details" tabindex="-1" role="dialog" aria-labelledby="expansion"
                     aria-hidden="true">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="expansion"></h3>
                        </div>
                        <div class="modal-body body">
                            <div class="row">
                                <div class = "col-lg-4 fields">
                                    <img src="../img/no_image.jpg" id="img"><br>
                                    <input type="file" onchange="previewFile()" id="imgbtn">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th>Shelf</th>
                                            <th>Copies</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-6 fields">
                                    <input type="hidden" id="id">
                                    <input type="hidden" id="price">
                                    <input type="hidden" id="count">
                                    <h4 class="journal" id="journal"><b>Journal: </b></h4>
                                    <input id="ejournal">
                                    <h4 class="title" id="title"><b>Title: </b></h4>
                                    <input id="etitle">
                                    <h4 class="author" id="author"><b>Author: </b></h4>
                                    <input id="eauthor">
                                    <h4 class="issue" id="issue"><b>Issue: </b></h4>
                                    <input id="eissue">
                                    <h4 class="editor" id="editor"><b>Editor of issue: </b></h4>
                                    <input id="eeditor">
                                    <h4 class="note" id="note">Note: </h4>
                                    <input id="etags" placeholder="tags">
                                    <select id="sel">
                                        <option class="opt">NA</option>
                                        <option class="opt">REFERENCE</option>
                                    </select>
                                    <input id="elogin">
                                    <a id="renewbtn" onclick="renewConf()" class="btn btn-primary">OK</a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a onclick="renew()" class="btn btn-primary">Renew</a>
                            <a id="okbtn" class="btn btn-primary" onclick="bCall()">OK</a>
                            <a id="editbtn" onclick="edit()" class="btn btn-primary">Edit</a>
                            <button class="btn btn-primary" onclick="dCall()">Delete</button>
                            <button class="btn" data-dsismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>