<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Journals</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/patrons.css">
    <link rel="stylesheet" href="../css/dialog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gogol Library</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/librarian/books">Books</a></li>
                <li class="active"><a href="#">Journals</a></li>
                <li><a href="/librarian/av">Auidio/Video</a></li>
                <li><a href="/login">Log Out</a></li>
            </ul>
        </div>
    </div>

</div>
<section>

    <div class="container users">
        <div class="output"></div>
                <p id="patrons"><a id="linker" href="/librarian/taken_doc">Documents</a> / <u>Journals</u></p>
                <p class="header">Journals</p>
        <div class="container-fluid">
            <div class="card-group">
                {{#allJournals}}
                <div class="col-sm-4 deck">
                    <div class="card text-center">
                        <div class="card-body">
                            <!--put here other fields, make them hidden-->
                            <h3 class="card-title">{{title}}</h3>
                            <h5 class="card-subtitle text-muted">{{name}}</h5>
                            <input type="hidden" class="author_card" value="{{author}}">
                            <input type="hidden" class="issue_card" value="{{issue}}">
                            <input type="hidden" class="editor_card" value="{{editor}}">
                            <img class="image-journal" src="../img/no_image.jpg">
                            <p></p>
                            <a href="#details" class="btn btn-primary btn-lg" data-toggle="modal">Show details</a>
                        </div>
                    </div>
                </div>
                {{/allJournals}}

                <script>

                    //                    var image = $('#image-book');
                    //                    image.src = 'data:image/png;base64,iVBORw0K...';
                    //                    document.body.appendChild(image);

                    (function ($) {
                        $(document).ready(function () {
                            $('.btn-lg').click(function (e) {
                                e.preventDefault();
                                document.getElementById("title").style.display = "block";
                                document.getElementById("editor").style.display = "block";
                                document.getElementById("journal").style.display = "block";
                                document.getElementById("author").style.display = "block";
                                document.getElementById("issue").style.display = "block";
                                $('.journal').html('<b>Journal: </b>' + $(this).parent().find($('.card-title')).text());
                                $('.issue').html('<b>Issue: </b>' + $(this).parent().find($('.issue_card')).attr('value'));
                                $('.title').html('<b>Title: </b>' + $(this).parent().find($('.card-subtitle')).text());
                                $('.editor').html('<b>Editor: </b>' + $(this).parent().find($('.editor_card')).attr('value'));
                                $('.author').html('<b>Author: </b>' + $(this).parent().find($('.author_card')).attr('value'));
                                $("#img").attr("src", $(this).parent().find($('.image-journal')).attr('src'));
                                $('#expansion').html($(this).parent().find($('.card-title')).text());
                                document.getElementById("etitle").style.display = "none";
                                document.getElementById("eeditor").style.display = "none";
                                document.getElementById("ejournal").style.display = "none";
                                document.getElementById("eauthor").style.display = "none";
                                document.getElementById("eissue").style.display = "none";
                                document.getElementById("okbtn").style.display = "none";
                                document.getElementById("editbtn").style.display = "inline";
                                document.getElementById("imgbtn").style.display = "none";
                            });
                        });
                        return false;
                    }(jQuery));

                    function edit() {
                        var title = document.getElementById("etitle");
                        var editor = document.getElementById("eeditor");
                        var author = document.getElementById("eauthor");
                        var journal = document.getElementById("ejournal");
                        var issue = document.getElementById("eissue");
                        title.placeholder = $('.title').text();
                        editor.placeholder = $('.editor').text();
                        author.placeholder = $('.author').text();
                        journal.placeholder = $('.journal').text();
                        issue.placeholder = $('.issue').text();
                        document.getElementById("title").style.display = "none";
                        title.style.display = "block";
                        document.getElementById("editor").style.display = "none";
                        editor.style.display = "block";
                        document.getElementById("author").style.display = "none";
                        author.style.display = "block";
                        document.getElementById("journal").style.display = "none";
                        journal.style.display = "block";
                        document.getElementById("issue").style.display = "none";
                        issue.style.display = "block";
                        document.getElementById("editbtn").style.display = "none";
                        document.getElementById("okbtn").style.display = "inline";
                        document.getElementById("imgbtn").style.display = "inline";
                    }

                    function bCall() {
                        // var imgElem = document.getElementById('img');
                        var myJson = {
                            "title": document.getElementById("etitle").value,
                            "editor": document.getElementById("eeditor").value,
                            "author": document.getElementById("eauthor").value,
                            "journal": document.getElementById("ejournal").value,
                            "issue": document.getElementById("eissue").value
                            //   "imgData":JSON.stringify(getBase64Image(imgElem))
                        };
                        $.ajax({
                            url: "idk",
                            type: 'POST',
                            data: JSON.stringify(myJson),
                            success: alert('succ'),
                            error: alert('fork')
                        });
                        window.location.reload(false);
                    }

                    function dCall() {
                        // var imgElem = document.getElementById('img');
                        var myJson = {
                            "title": document.getElementById("title").text(),
                            "editor": document.getElementById("editor").text(),
                            "author": document.getElementById("author").text(),
                            "journal": document.getElementById("journal").text(),
                            "issue": document.getElementById("issue").text()
                            //   "imgData":JSON.stringify(getBase64Image(imgElem))
                        };
                        $.ajax({
                            url: "idk",
                            type: 'POST',
                            data: JSON.stringify(myJson),
                            success: alert('succ'),
                            error: alert('fork')
                        });
                        window.location.reload(false);
                    }


                    function previewFile() {
                        var preview = document.getElementById('img');
                        var file = document.querySelector('input[type=file]').files[0];
                        var reader = new FileReader();

                        reader.onloadend = function () {
                            preview.src = reader.result;
                        }

                        if (file) {
                            reader.readAsDataURL(file);
                        } else {
                            preview.src = "";
                        }
                    }

                    function getBase64Image(imgElem) {
                        var canvas = document.createElement("canvas");
                        canvas.width = imgElem.clientWidth;
                        canvas.height = imgElem.clientHeight;
                        var ctx = canvas.getContext("2d");
                        ctx.drawImage(imgElem, 0, 0);
                        var dataURL = canvas.toDataURL("image/png");
                        return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
                    }

                    previewFile();
                </script>

                <div class="modal" id="details" tabindex="-1" role="dialog" aria-labelledby="expansion"
                     aria-hidden="true">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="expansion"></h3>
                        </div>
                        <div class="modal-body body">
                            <div class="row">
                                <div class = "col-lg-4 fields">
                                    <img src="../img/no_image.jpg" id="img"><br>
                                    <input type="file" onchange="previewFile()" id="imgbtn">
                                </div>
                                <div class="col-lg-6 fields">
                                    <h4 class="journal" id="journal"><b>Journal: </b></h4>
                                    <input id="ejournal">
                                    <h4 class="title" id="title"><b>Title: </b></h4>
                                    <input id="etitle">
                                    <h4 class="author" id="author"><b>Author: </b></h4>
                                    <input id="eauthor">
                                    <h4 class="issue" id="issue"><b>Issue: </b></h4>
                                    <input id="eissue">
                                    <h4 class="editor" id="editor"><b>Editor of issue: </b></h4>
                                    <input id="eeditor">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a id="okbtn" class="btn btn-primary" onclick="bCall()">OK</a>
                            <a id="editbtn" onclick="edit()" class="btn btn-primary">Edit</a>
                            <button class="btn btn-primary" onclick="dCall()">Delete</button>
                            <button class="btn" data-dsismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>