<!DOCTYPE html>
<html>
<head>
    <meta  http-equiv="Content-Type" content="text/html" tcharset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.1">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <bookTitle>LogIn</bookTitle>
</head>
<body>
<div class="container">
    <img src="img/logo.png">
    <form>
        <div class="tags">Username:</div>
        <div class="dws - input">
            <input id="kek" type="text" name="username" placeholder="Enter your login">
        </div>
        <div class="tags"> Password:</div>
        <div class="dws - input">
            <input type="password" name="password" placeholder="Enter your password">
        </div>
        <div class="dws - input">
            <input class="enter" type="submit" name="submit" value="Enter">
        </div>
    </form>
</div>
</body>
</html>