<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <title>LogIn</title>
</head>
<body>

<div class="container">
    <div class="form">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Gogol Libraries <i class="fa fa-book"></i></h1>
                <hr/>
            </div>
        </div>
        <div class="card card-container">


            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="post" action="javascript:void(null)" onsubmit="logcall()">
                <input type="text" id="inputEmail" name="login" class="form-control" placeholder="Email address"
                       required autofocus>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
                       required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <div class="register">
                <a href="/registration" class="register">
                    Create account
                </a>
            </div>


            <script type="text/javascript" language="javascript">
                function logcall() {
                    var myJson = {
                        "login": $("#inputEmail").val(),
                        "password": $("#inputPassword").val()
                    };

                    $.ajax({
                        url: '/login',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(myJson),
                        dataType: 'json',
                        success: function (data) {
                            toastr.options = {
                                "closeButton": false,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-top-full-width",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            };
                            var data1 = data.data;
                            if (data1 === "/patron" || data1 === "/librarian") {
                                //you can replace "replace" with "assign", then you'll be able to return to login page with back button
                                window.location.assign(data1);
                            } else {
                                toastr["error"](data1);
                            }
                        }
                    });

                }
            </script>


        </div>
    </div><!-- /card-container -->
</div><!-- /container -->
</body>
</html>