<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Documents</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/patrons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/dialog.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gogol Library</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="MyDocuments.html">My Documents</a></li>
                <li><a href="/books">Books</a></li>
                <li class="active"><a href="orderJ.html">Journals</a></li>
                <li><a href="/av">Audio/Video</a></li>
                <li><a href="/login">Log Out</a></li>
            </ul>
        </div>
    </div>

</div>
<section>

    <div class="container users">
        <div class="output"></div>
        <div class="row centered">
            <div class="card card-container">
                <p id="patrons"><a id="linker" href="/dashboard">Dashboard</a> / <u>Journals</u></p>
                <p class="header">Journals that available to check out</p>
                <div class="container-fluid">
                    <div class="card-group">
                        {{#allJournals}}
                        <div class="col-sm-4 deck">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h3 class="card-title">{{title}}</h3>
                                    <h5 class="card-subtitle text-muted">{{name}}</h5>
                                    <input type="hidden" class="author_card" value="{{author}}">
                                    <input type="hidden" class="issue_card" value="{{issue}}">
                                    <input type="hidden" class="editor_card" value="{{editor}}">
                                    <img class="image-journal" src="../img/no_image.jpg">
                                    <p></p>
                                    <a href="#details" class="btn btn-primary btn-lg" data-toggle="modal">Show details</a>
                                </div>
                            </div>
                        </div>
                        {{/allJournals}}

                        <script>
                            (function ($) {
                                $(document).ready(function () {
                                    $('.btn-lg').click(function (e) {
                                        e.preventDefault();
                                        //other fields the same way. If you want to make bold text you need another field.
                                        $('.journal').html('<b>Journal: </b>' + $(this).parent().find($('.card-title')).text());
                                        $('.issue').html('<b>Issue: </b>' + $(this).parent().find($('.issue_card')).attr('value'));
                                        $('.title').html('<b>Title: </b>' + $(this).parent().find($('.card-title')).text());
                                        $('.edition').html('<b>Edition: </b>' + $(this).parent().find($('.edition_card')).attr('value'));
                                        $('.author').html('<b>Author: </b>' + $(this).parent().find($('.card-subtitle')).text());
                                        $("#img").attr("src", $(this).parent().find($('.image-journal')).attr('src'));
                                        $('#expansion').html($(this).parent().find($('.card.title')).text());
                                    });
                                });
                                return false;
                            }(jQuery));

                            function oCall() {
                                // var imgElem = document.getElementById('img');
                                var myJson = {
                                    "title": document.getElementById("title").value,
                                    "editor": document.getElementById("editor").value,
                                    "author": document.getElementById("author").value,
                                    "journal": document.getElementById("journal").value,
                                    "issue": document.getElementById("issue").value
                                    //   "imgData":JSON.stringify(getBase64Image(imgElem))
                                };
                                $.ajax({
                                    url: "idk",
                                    type: 'POST',
                                    data: JSON.stringify(myJson)
                                });
                            }
                        </script>

                        <div class="modal" id="details" tabindex="-1" role="dialog" aria-labelledby="expansion"
                             aria-hidden="true">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 id="expansion"></h3>
                                </div>
                                <div class="modal-body body">
                                    <div class="row">
                                        <img src="../img/time.jpg" id="img" class="col-lg-4 image">
                                        <div class="col-lg-6 fields">
                                            <h4 class="journal" id="journal"><b>Journal: </b></h4>
                                            <h4 class="title" id="title"><b>Title: </b></h4>
                                            <h4 class="author" id="author"><b>Author: </b></h4>
                                            <h4 class="editor" id="editor"><b>Editor of issue: </b></h4>
                                            <h4 class="issue" id="issue"><b>Issue: </b></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-primary" onclick="oCall()" >Order</a>
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>