<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Documents</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/patrons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/dialog.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/line/blue.css">
    <script src="../js/icheck.js"></script>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gogol Library</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/mydocs">My Documents</a></li>
                <li class="active"><a href="#">Books</a></li>
                <li><a href="/journals">Journals</a></li>
                <li><a href="/av">Audio/Video</a></li>
                <li><a href="/login">Log Out</a></li>
            </ul>
        </div>
    </div>

</div>
<section>

    <div class="container users">
        <div class="output"></div>
        <div class="row centered">
            <div class="card card-container">
                <p id="patrons"><a id="linker" href="/dashboard">Dashboard</a> / <u>Books</u></p>
                <div>
                    <input placeholder="searchbar" id="stitle">
                </div>
                <a href="#" class="btn btn-primary" onclick="aCall()">Search</a>
                <p class="header">Books that available to check out</p>
                <div class="container-fluid">
                    <div class="card-group">
                        {{#allBooks}}
                        <div class="col-sm-4 deck">
                            <div class="card text-center">
                                <div class="card-body">
                                    <!--put here other fields, make them hidden-->
                                    <h3 class="card-title">{{title}}</h3>
                                    <h5 class="card-subtitle text-muted">{{author}}</h5>
                                    <input type="hidden" class="edition_card" value="{{edition}}">
                                    <input type="hidden" class="publisher_card" value="{{publisher}}">
                                    <input type="hidden" class="id_card" value="{{id}}">
                                    <input type="hidden" class="note_card" value="{{note}}">
                                    <input type="hidden" class="count_card" value="{{count}}">
                                    <input type="hidden" class="tags_card" value="{{keywords}}">
                                    <img class="image-book" src="data:image/png;base64, {{picture}}">
                                    <p></p>
                                    <a href="#details" class="btn btn-primary btn-lg" data-toggle="modal">Show
                                        details</a>
                                </div>
                            </div>
                        </div>


                        {{/allBooks}}

                        <script>
                            $(document).ready(function () {
                                $('.chk').each(function () {
                                    var self = $(this),
                                            label = self.next(),
                                            label_text = label.text();
                                    label.remove();
                                    self.iCheck({
                                        checkboxClass: 'icheckbox_line-blue',
                                        radioClass: 'iradio_line-blue',
                                        insert: '<div class="icheck_line-icon"></div>' + label_text
                                    });
                                });
                            });
                        </script>

                        <script>
                            (function ($) {
                                $(document).ready(function () {
                                    var clr = $("#orderbtn").css("background-color");
                                    $('.btn-lg').click(function (e) {
                                        e.preventDefault();
                                        //other fields the same way. If you want to make bold text you need another field.
                                        $('#id').val($(this).parent().find($('.id_card')).attr('value'));
                                        $('.title').html('<b>Title: </b>' + $(this).parent().find($('.card-title')).text());
                                        $('.edition').html('<b>Edition: </b>' + $(this).parent().find($('.edition_card')).attr('value'));
                                        $('.author').html('<b>Author: </b>' + $(this).parent().find($('.card-subtitle')).text());
                                        $('.publisher').html('<b>Published by: </b>' + $(this).parent().find($('.publisher_card')).attr('value'));
                                        $('.count').html('<b>Number of copies: </b>' + $(this).parent().find($('.count_card')).attr('value'));
                                        $("#img").attr("src", $(this).parent().find($('.image-book')).attr('src'));
                                        $('#expansion').html($(this).parent().find($('.card.title')).text());
                                        if ($(this).parent().find($('.note_card')).attr('value') === "reference") {
                                            $("#orderbtn").css("background-color", "red");
                                            $('#orderbtn').click(function (g) {
                                                toastr["error"]("You can't order a reference material")
                                            })
                                        } else {
                                            $("#orderbtn").css("background-color", clr);
                                        }
                                    });
                                });
                                return false;
                            }(jQuery));

                            function aCall() {
                                var stri = document.getElementById("stitle").value;
                                stri = stri.toLowerCase();
                                var and_arr = stri.split('&');
                                var aarr = [];
                                for (var n = 0; n < and_arr.length; n++) {
                                   var or_arr = and_arr[n].split('|');
                                    var arr = [];
                                    for (var m = 0; m < or_arr.length; m++) {
                                        var str = or_arr[m];
                                        var deck = $(".deck");
                                        var rr = [];
                                        for (var i = 0; i < deck.length; i++) {
                                            deck[i].style.display = "inline";
                                            rr.push("inline");
                                        }
                                        var str_arr = str.split(" ");
                                        for (var j = 0; j < str_arr.length; j++) {
                                            for (var i = 0; i < deck.length; i++) {
                                                //alert(deck[i]);
                                                var dooc = deck[i].innerHTML;
                                                dooc = dooc.toLowerCase();
                                                var doc = dooc.match(/>(.*?)<|value="(.*?)"/g);
                                                var flag = -1;

                                                for (var h = 0; h < doc.length; h++) {
                                                    if (doc[h].search(str_arr[j]) !== -1)
                                                        flag = 0;
                                                }

                                                if (flag === -1)
                                                // doc.remove();
                                                    rr[i] = "none"; //else rr[i]= "inline";
                                                //deck[i].style.display = "none"

                                                /*var searchs = '/>'+str_arr[j]+'<|value="'+str_arr[j]+'"/g';
                                                 if ((doc.search(eval(searchs)) === -1))
                                                 // doc.remove();
                                                 rr[i] = "none";
                                                 //deck[i].style.display = "none"*/
                                            }
                                        }
                                        arr.push(rr);
                                    }
                                    for (var j = 0; j < arr.length - 1; j++) {
                                        el = arr[j];
                                        el2 = arr[j + 1];
                                        for (var i = 0; i < el.length; i++) {
                                            if (el[i] === "inline") {
                                                el2[i] = "inline"
                                            }
                                        }
                                    }
                                    aarr.push(arr[arr.length - 1]);
                                }
                                for (var j = 0; j < aarr.length - 1; j++) {
                                    el = aarr[j];
                                    el2 = aarr[j + 1];
                                    for (var i = 0; i < el.length; i++) {
                                        if (el[i] === "none") {
                                            el2[i] = "none"
                                        }
                                    }
                                }
                                var d = aarr[aarr.length - 1];
                                for (var i = 0; i < d.length; i++) {
                                    deck[i].style.display = d[i];
                                }
                            }

                            function sCall() {

                                    var str = document.getElementById("stitle").value;
                                    str = str.toLowerCase();
                                    var deck = $(".deck");
                                    for (var i = 0; i < deck.length; i++) {
                                        deck[i].style.display = "inline";
                                    }
                                    var str_arr = str.split(" ");
                                    for (var j = 0; j < str_arr.length; j++) {
                                        for (var i = 0; i < deck.length; i++) {
                                            //alert(deck[i]);
                                            var doc = deck[i].innerHTML;
                                            doc = doc.toLowerCase();
                                            if (doc.search(str_arr[j]) === -1)
                                            // doc.remove();
                                                deck[i].style.display = "none"


                                        }
                                    }
                            }

                            function oCall() {
                                // var imgElem = document.getElementById('img');
                                var myJson = {
                                    "id": document.getElementById("id").value
//                                    "title": document.getElementById("title").value,
//                                    "edition": document.getElementById("edition").value,
//                                    "author": document.getElementById("author").value,
//                                    "publisher": document.getElementById("publisher").value
                                    //   "imgData":JSON.stringify(getBase64Image(imgElem))
                                };
                                JSON.stringify(myJson);
                                $.ajax({
                                    url: "/order/book",
                                    type: 'POST',
                                    contentType: 'application/json',
                                    data: JSON.stringify(myJson),
                                    dataType: 'json',
                                    success: function (data) {
                                       toastr["info"](data["data"])
                                    }
                                });
                            }

                        </script>

                        <!--Modal, need to be field using js-->
                        <div class="modal" id="details" tabindex="-1" role="dialog" aria-labelledby="expansion"
                             aria-hidden="true">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                    </button>
                                    <h3 id="expansion"></h3>
                                </div>
                                <div class="modal-body body">
                                    <div class="row">
                                        <img src="../img/no_image.jpg" id="img" class="col-lg-4 image">
                                        <div class="col-lg-6 fields">
                                            <input type="text" id="id">
                                            <h4 class="title" id="title"><b>Title: </b></h4>
                                            <h4 class="edition" id="edition"><b>Edition: </b></h4>
                                            <h4 class="author" id="author"><b>Author: </b></h4>
                                            <h4 class="publisher" id="publisher"><b>Published by: </b></h4>
                                            <h4 class="count" id="count"><b>Number of copies: </b></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-primary" id="orderbtn" onclick="oCall()">Order</a>
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>