<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Documents</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/patrons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/dialog.css">
    <link rel="stylesheet" href="../css/line/blue.css">
    <script src="../js/icheck.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gogol Library</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="MyDocuments.html">My Documents</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/journals">Journals</a></li>
                <li class="active"><a href="#">Audio/Video</a></li>
                <li><a href="/login">Log Out</a></li>
            </ul>
        </div>
    </div>

</div>
<section>

    <div class="container users">
        <div class="output"></div>
        <div class="row centered">
            <div class="card card-container">
                <p id="patrons"><a id="linker" href="student.html">Dashboard</a> / <u>Audio/Video</u></p>
                <div>
                    <input placeholder="title" id="stitle">
                    <input placeholder="author" id="sauthor">
                </div>
                <div class = "buttons">
                    <input type="checkbox" class="chk" name="detective" value="detective">
                    <label>Detective</label>
                    <input type="checkbox" class="chk" name="romance" value="romance">
                    <label>Romance</label>
                </div>
                <a href="#" class="btn btn-primary" onclick="sCall()">Search</a>
                <p class="header">Audio/Video that available to check out</p>
                <div class="container-fluid">
                    <div class="card-group">
                        {{#allAV}}
                        <div class="col-sm-4 deck">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h3 class="card-title">{{title}}</h3>
                                    <h5 class="card-subtitle text-muted">{{author}}</h5>
                                    <input type="hidden" class="id_card" value="{{id}}">
                                    <img class="image-av" src="data:image/png;base64, {{picture}}">
                                    <input type="hidden" class="count_card" value="{{count}}">
                                    <p></p>
                                    <a href="#details" class="btn btn-primary btn-lg" data-toggle="modal">Show details</a>
                                </div>
                            </div>
                        </div>
                        {{/allAV}}

                        <script>
                            $(document).ready(function () {
                                $('.chk').each(function () {
                                    var self = $(this),
                                            label = self.next(),
                                            label_text = label.text();
                                    label.remove();
                                    self.iCheck({
                                        checkboxClass: 'icheckbox_line-blue',
                                        radioClass: 'iradio_line-blue',
                                        insert: '<div class="icheck_line-icon"></div>' + label_text
                                    });
                                });
                            });
                        </script>

                        <script>
                            (function ($) {
                                $(document).ready(function () {
                                    var clr = $("#orderbtn").css("background-color");
                                    $('.btn-primary').click(function (e) {
                                        e.preventDefault();
                                        //other fields the same way. If you want to make bold text you need another field.
                                        $('#id').val($(this).parent().find($('.id_card')).attr('value'));
                                        $('.title').html('<b>Title: </b>' + $(this).parent().find($('.card-title')).text());
                                        $('.author').html('<b>Author: </b>' + $(this).parent().find($('.card-subtitle')).text());
                                        $('.count').html('<b>Number of copies: </b>' + $(this).parent().find($('.count_card')).attr('value'));
                                        $("#img").attr("src", $(this).parent().find($('.image-av')).attr('src'));
                                        $('#expansion').html($(this).parent().find($('.card.title')).text());
                                        if ($(this).parent().find($('.note_card')).attr('value') === "reference") {
                                            $("#orderbtn").css("background-color", "red");
                                            $('#orderbtn').click(function (g) {
                                                toastr["error"]("You can't order a reference material")
                                            })
                                        } else {
                                            $("#orderbtn").css("background-color", clr);
                                        }
                                    });
                                });
                                return false;
                            }(jQuery));

                            function sCall() {
                                var str = "";
                                var boxes = $("input:checkbox");
                                for (var i = 0; i < boxes.length; i++) {
                                    var box = boxes[i];
                                    if ($(box).prop('checked')) {
                                        str += $(box).attr('value') + ",";
                                    }
                                }
                                var myJson = {
                                    "title": document.getElementById("stitle").value,
                                    "author": document.getElementById("sauthor").value,
                                    "tags": str
                                };
                                $.ajax({
                                    url: "idk",
                                    type: 'POST',
                                    data: JSON.stringify(myJson)
                                });
                            }

                            function oCall() {
                                // var imgElem = document.getElementById('img');
                                var myJson = {
                                    "id": document.getElementById("id").value
//                                    "title": document.getElementById("title").value,
//                                    "author": document.getElementById("author").value,
                                    //   "imgData":JSON.stringify(getBase64Image(imgElem))
                                };
                                $.ajax({
                                    url: "idk",
                                    type: 'POST',
                                    data: JSON.stringify(myJson)
                                });
                            }
                        </script>

                        <div class="modal" id="details" tabindex="-1" role="dialog" aria-labelledby="expansion"
                             aria-hidden="true">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 id="expansion">Brain on Tech</h3>
                                </div>
                                <div class="modal-body body">
                                    <div class="row">
                                        <img id="img" src="../img/no_image.jpg" class="col-lg-4 image">
                                        <div class="col-lg-6 fields">
                                            <input type="hidden" id="id">
                                            <h4 class="title" id="title"><b>Title: </b></h4>
                                            <h4 class="author" id="author"><b>Author: </b></h4>
                                            <h4 class="count" id="count"><b>Number of copies: </b></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-primary" id="orderbtn" onclick="oCall()" >Order</a>
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>