<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Patrons</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/patrons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gogol Library</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Patrons</a></li>
                <li><a href="addUser.html">Add User</a></li>
                <li><a href="/login">Log Out</a></li>
            </ul>
        </div>
    </div>

</div>
<section>

    <div class="container users">
        <div class="output"></div>
        <div class="row centered">
            <div class="card card-container">
                <p id="patrons"><a id="linker" href="/dashboard">Dashboard</a> / <u>Patrons</u></p>
                <p class="header">Users that are already in the Gogol Library</p>
                <div class="utable">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Address</th>
                            <th>Phone number</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#allUsers}}

                        <form method="post" action="javascript:void(null)">
                            <tr>
                                <td>{{id}}</td>
                                <td>{{name}}</td>
                                <td>{{surname}}</td>
                                <td>{{address}}</td>
                                <td>{{phone}}</td>
                                <td>{{role}}</td>
                                <td>
                                    <input type="hidden" class="id" value="{{id}}">
                                    <input type="hidden" class="log" value="{{login}}">
                                    <input type="hidden" class="pass" value="{{password}}">
                                    <input type="hidden" class="name" value="{{name}}">
                                    <input type="hidden" class="sname" value="{{surname}}">
                                    <input type="hidden" class="addr" value="{{address}}">
                                    <input type="hidden" class="ph" value="{{phone}}">
                                    <input type="hidden" class="role" value="{{role}}">
                                    <a href="#details" class="btn btn-primary btn-sm btn-block submit"
                                       data-toggle="modal">Edit</a>
                                </td>
                                <td>
                                    <input type="hidden" class="did" value="{{id}}">
                                    <input type="hidden" class="dname" value="{{name}}">
                                    <input type="hidden" class="dsname" value="{{surname}}">
                                    <input type="hidden" class="daddress" value="{{address}}">
                                    <input type="hidden" class="dphone" value="{{phone}}">
                                    <input type="hidden" class="drole" value="{{role}}">
                                    <button type="submit" class="btn btn-primary btn-sm btn-block row-remove">
                                        Delete
                                    </button>
                                </td>
                                <td>
                                    <input type="hidden" class="cid" value="{{id}}">
                                    <input type="hidden" class="auth" value="{{auth}}">
                                    <button type="submit"  class="btn btn-primary btn-sm btn-block user-confirm">
                                        Confirm
                                    </button>
                                </td>
                            </tr>
                        </form>
                        {{/allUsers}}
                        </tbody>
                    </table>

                    <script>


                        //  if ($('.auth').val() == 'true') $('.auth').parent().remove();

                        (function ($) {
                            $(document).ready(function () {
                                $('.row-remove').click(function (e) {
                                    e.preventDefault();
                                    var id = $(this).parent().find($('.did')).val();
                                    var name = $(this).parent().find($('.dname')).val();
                                    var sname = $(this).parent().find($('.dsname')).val();
                                    var addr = $(this).parent().find($('.daddress')).val();
                                    var ph = $(this).parent().find($('.dphone')).val();
                                    var role = $(this).parent().find($('.drole')).val();

                                    var myJson = {
                                        "id": id,
                                        "name": name,
                                        "surname": sname,
                                        "address": addr,
                                        "phone": ph,
                                        "role": role
                                    };
                                    $.ajax({
                                        url: "/delete",
                                        type: 'POST',
                                        contentType: 'application/json',
                                        data: JSON.stringify(myJson),
                                        dataType: 'json'
                                    });
                                    $(this).closest('tr').remove(); // или $(this).parent().parent().remove();
                                });
                            });
                        }(jQuery));

                        (function ($) {
                            $(document).ready(function () {
                                $('.submit').click(function (e) {
                                    e.preventDefault();
                                    var log = $(this).parent().find($('.log')).val();
                                    var pass = $(this).parent().find($('.pass')).val();
                                    var id = $(this).parent().find($('.id')).val();
                                    var name = $(this).parent().find($('.name')).val();
                                    var sname = $(this).parent().find($('.sname')).val();
                                    var addr = $(this).parent().find($('.addr')).val();
                                    var ph = $(this).parent().find($('.ph')).val();
                                    var role = $(this).parent().find($('.role')).val();
                                    $('.title').text(id);
                                    document.getElementById('flog').placeholder = log;
                                    document.getElementById('fpass').placeholder = pass;
                                    document.getElementById('fname').placeholder = name;
                                    document.getElementById('fsname').placeholder = sname;
                                    document.getElementById('faddr').placeholder = addr;
                                    document.getElementById('fphone').placeholder = ph;
                                    document.getElementById('frole').placeholder = role;
                                });
                            });
                        }(jQuery));


                        (function ($) {

                            $(document).ready(function () {
                                $('.user-confirm').click(function (e) {
                                    e.preventDefault();
                                    var id = ($(this).parent().find($('.cid')).val());
                                    var myJson = {
                                        "id": id,
                                        "auth": true
                                    };
                                    $.ajax({
                                        url: "/confirm",
                                        type: 'POST',
                                        contentType: 'application/json',
                                        data: JSON.stringify(myJson),
                                        dataType: 'json',
                                        success: function (data) {
                                            alert(data)
                                        }
                                    });
                                    window.location.reload(false);
                                });
                            });
                        }(jQuery));


                        function bCall() {
                            var myJson = {
                                "id": document.getElementById("id").textContent,
                                "login": document.getElementById("flog").value,
                                "password": document.getElementById("flog").value,
                                "name": document.getElementById("fname").value,
                                "surname": document.getElementById("fsname").value,
                                "address": document.getElementById("faddr").value,
                                "phone": document.getElementById("fphone").value,
                                "role": document.getElementById('frole').value.toUpperCase()

                            };
                            alert(JSON.stringify(myJson));
                            $.ajax({
                                url: "/edit",
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(myJson),
                                dataType: 'json',
                                success: function (data) {
                                    alert(data)
                                }
                            });
                            window.location.reload(false);
                        }

                    </script>

                    <div class="modal" id="details" tabindex="-1" role="dialog" aria-labelledby="expansion"
                         aria-hidden="true">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="expansion">Edit user</h3>
                            </div>
                            <div class="modal-body body">
                                <div class="row">
                                    <div class="col-lg-10 fields" id="container">
                                        <h4 class="title" id="id"></h4>
                                        <input type="hidden" class="flog" id="flog">
                                        <input type="hidden" class="fpass" id="fpass">
                                        <input class="fname" id="fname">
                                        <input class="fsname" id="fsname">
                                        <input class="faddr" id="faddr">
                                        <input class="fphone" id="fphone">
                                        <input class="frole" id="frole">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a id="okbtn" class="btn btn-primary" onclick="bCall()">OK</a>
                                <button class="btn" data-dsismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>