<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script >
        $(document).ready( function () {
            $.getJSON( "/users", function( data ) {
                var items = [];
                $.each( data[0], function( key, val ) {
                    items.push( "<li id='" + key + "'>" + data[0]["id"] + "</li>" );
                });
                $( "<ul/>", {
                    "class": "my-new-list",
                    html: items.join( "" )
                }).appendTo( "body" );
            });
        });

    </script>
    <title>Title</title>
</head>
<body>
    <h2></h2>
</body>
</html>